<launch>


  <include file="$(find myworkcell_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  # The visualization component of MoveIt!
  <include file="$(find myworkcell_moveit_config)/launch/moveit_rviz.launch"/>

</launch>
